body {
    background-color: var(--color-primary);
    overflow-x: hidden;
}

/* whole page-details */
.page-details {
    /* animation */
    transition: 1s;
    opacity: 0;
    display: none;
    transform: translateY(100vh);
}
.page-details__container {
    max-width: 100vw;
    overflow: hidden;
    padding-inline: 5vw;
}
.page-details__content {
    padding-block: 10vh;
}
/* page-details__heading logo & desc */
.page-details__heading {
    padding-inline: 3vw;
}
.page-details__heading-logo-part,
.page-details__heading-desc-part,
.page-details__end-logo-part {
    position: relative;
}
.page-details__heading-logo-part h2,
.page-details__end-logo-part h2 {
    font-size: 21vw;
    line-height: 60%;
}
.page-details__heading-logo-part img,
.page-details__end-logo-part img {
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 55%;
    transform: translateX(-50%);
}
/* page-details__heading-desc-part */
.page-details__heading-desc-part {
    position: relative;
    margin-top: 10vh;
}
.page-details__heading-desc-part h2 {
    font-size: 15vw;
    line-height: 50%;
}
.page-details__heading-desc-part p {
    position: absolute;
    bottom: 1vh;
    left: 0;
    max-width: 65vw;
    font-size: 2.7vw;
    line-height: 2.5vh;
    transform: translateX(-14%);
}

/* page-details__offers */
.page-details__offers {
    margin-top: 10vh;
}
/* page-details__offers head */
.page-details__offers p {
    text-align: center;
    line-height: 4vh;
    font-size: 4vw;
}
/* page-details__offers flex */
.page-details__offers-flex1,
.page-details__offers-flex2 {
    display: flex;
    flex-wrap: nowrap;
    gap: 2%;
}
.page-details__offers-flex1 > div {
    flex-basis: 50%;
}
.page-details__offers-body img {
    width: 100%;
}
/* page-details__offers-body */
.page-details__offers-body {
    margin-top: 5vh;
}
/* page-details__offers-flex-item */
.page-details__offers-body button {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 0;
    width: 100%;
    padding: 1rem;
    opacity: 1;
    transition: 0.5s;
}
.page-details__offers-body button:hover {
    opacity: 0.7;
}
.page-details__offers-flex-item1 {
    border-radius: 12px;
}
.page-details__offers-flex1 > div,
.page-details__offers-flex2 > div {
    position: relative;
    overflow: hidden;
    transition: all ease-out 0.3s;
}
.page-details__offers-flex1 > div {
    width: 48%;
}
.page-details__offers-flex2 {
    margin-top: 2vh;
}
.page-details__offers-flex2 > div {
    width: 100%;
}
.page-details__offers-flex-item1 button {
    background-color: #000058;
    color: #fff;
    border-radius: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}
.page-details__offers-flex-item2 button,
.page-details__offers-flex-item3 button {
    background-color: #e0efff;
    color: #000058;
    border-radius: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}
/** scale imgs **/
/* flex 1 >> item 1*/

/* flex 1 >> item 2*/
/* flex 2 >> item 3*/
.page-details__offers-body .page-details__offers-flex-item3,
.page-details__offers-body .page-details__offers-flex-item2 {
    position: relative;
}
.page-details__offers-body .page-details__offers-flex-item3 img.flex-item3,
.page-details__offers-body .page-details__offers-flex-item3 button,
.page-details__offers-body .page-details__offers-flex-item2 img.flex-item2,
.page-details__offers-body .page-details__offers-flex-item2 button {
    opacity: 1;
    transition: 0.5s;
}
.page-details__offers-body .flex-item3-scale,
.page-details__offers-body .flex-item2-scale {
    position: absolute;
    right: 5%;
    bottom: 20%;
    width: 35%;
    transition: 0.5s;
    border-radius: 12px;
}
.page-details__offers-body .flex-item2-scale {
    height: 20%;
}
.page-details__offers-body .flex-item3-scale {
    height: 35%;
}
/** HOVERS PART **/
/* flex 1 >> item 1*/

/* flex 1 >> item 2*/

/* flex 2 >> item 3*/
.page-details__offers-body .page-details__offers-flex-item3:hover img.flex-item3-scale,
.page-details__offers-body .page-details__offers-flex-item2:hover img.flex-item2-scale {
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: 1;
    
    height: 100%;
    object-fit: cover;
}
.page-details__offers-body .page-details__offers-flex-item3:hover img.flex-item3,
.page-details__offers-body .page-details__offers-flex-item3:hover button,
.page-details__offers-body .page-details__offers-flex-item2:hover img.flex-item2,
.page-details__offers-body .page-details__offers-flex-item2:hover button {
    opacity: 0;
    transform: translateX(-100%);
}
.page-details__offers-body .page-details__offers-flex-item3:hover button,
.page-details__offers-body .page-details__offers-flex-item2:hover button {
    transform: translateY(100%);
}

/* page-details__end */
.page-details__end {
    margin-top: 15vh;
}
.page-details__end h2 {
    text-align: center;
    font-size: 25vw;
}
.page-details__end img {
    left: 51%;
    transform: translateX(-50%);
}
/* page-details__end-desc-part */
.page-details__end-desc-part {
    margin-top: 5vh;
    text-align: center;
    line-height: 2.1rem;
    font-size: 4.5vw;
    padding-inline: 5vw;
    letter-spacing: 1px;
}





.page-details__offers-flex1 > div:hover {
    width: 100%;
}